@import url("./__title/comments__title.css");
@import url("./__subtitle/comments__subtitle.css");
@import url("./__container/comments__container.css");

.comments {
    margin: 102px auto;
    max-width: 1184px;
}

@media (max-width: 1279px) {
    .comments {
        max-width: 929px;
    }
}

@media (max-width: 950px) {
    .comments {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .comments {
        margin-top: 64px;
    }
}