@import url("./__title/comments__title.css");
@import url("./__subtitle/comments__subtitle.css");
@import url("./__container/comments__container.css");

.comments {
    margin: 102px auto;
    max-width: 1184px;
}

@media (max-width: 1279px) {
    .comments {
        max-width: calc(100% - 96px);;
    }
}

@media (max-width: 768px) {
    .comments {
        max-width: calc(100% - 108px);
    }
}

@media (max-width: 375px) {
    .comments {
        max-width: calc(100% - 32px);
        margin-top: 64px;
        margin-bottom: 48px;
    }
}

@media (max-width: 320px) {
    .comments {
        margin-bottom: 64px;
    }
}