.header__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: .95;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0px;
}

.header__lang-link:hover {
    opacity: 0.7;
}

@media (max-width: 375px) {
    .header__lang-link {
        font-size: 1rem;
        line-height: .95;
    }
}