.header__lang-link {
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 23px;
    color: #fff;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.7;
}

@media (max-width: 375px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 17px;
    }
}