.video__layer {
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
    height: 293px;
    background-image: url("../../../images/icon_play.png");
    background-size: 41px;
    background-position: left top 30px;
    background-repeat: no-repeat;
}

@media (max-width: 1222px) {
    .video__layer {
        height: 258px;
    }
}

@media (max-width: 950px) {
    .video__layer {
        height: 170px;
    }
}

@media (max-width: 727px) {
    .video__layer {
        padding-bottom: 24px;
        background-position: left top 24px;
    }
}

@media (max-width: 374px) {
    .video__layer {
        height: 168px;
    }
}