@import url("./__item/photo-grid__item.css");

.photo-grid {
    display: grid;
    grid-template-columns: 1fr, repeat(4, 25%), 1fr;
    grid-template-rows: 1fr, repeat(3, 33%), 1fr;
    grid-gap: 16px;
    max-width: max-content;
    margin: auto;
    margin-top: 102px;
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: 1fr, repeat(3, 33%), 1fr;
        grid-template-rows: 1fr, repeat(4, 25%), 1fr;
        grid-gap: 14px;
    }
}