@import url("./__item/photo-grid__item.css");

.photo-grid {
    display: grid;
    grid-template-columns: 1fr, repeat(4, 25%), 1fr;
    grid-template-rows: 1fr, repeat(3, 33%), 1fr;
    grid-gap: 16px;
    max-width: 82%;
    margin: auto;
    margin-top: 102px;
}
/*
@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: 1fr, repeat(3, 33%), 1fr;
        grid-template-rows: 1fr, repeat(4, 25%), 1fr;
        grid-gap: 14px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        margin-top: 97px;
        grid-template-columns: 1fr, repeat(2, 50%), 1fr;
        grid-template-rows: 1fr, repeat(6, 16.6%), 1fr;
        grid-gap: 16px;
    }
}