.video__item-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    margin: 0px;
    color: #FFF;
    grid-row: -3/-1;
    grid-column: 2/4;
    z-index: 1;
    align-self: center;
}
/*
@media (max-width: 1024px) {
    .video__item-subtitle {
        grid-row: -2/-1;
        grid-column: 2/5;
        align-self: start;
    }
}

@media (max-width: 768px) {
    .video__item-subtitle {
        grid-column: 2/6;
        grid-row: -3/-1;
        align-self: center;
    }
}