.video__item-subtitle {
    /* position: absolute;
    left: 30px;
    bottom: 30px; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    margin: 0px;
    color: #FFF;
    grid-row: -3/-1;
    grid-column: 2/4;
    z-index: 1;
    align-self: center;
}

@media (max-width: 1024px) {
    .video__item-subtitle {
        bottom: 35px;
    }
}

@media (max-width: 768px) {
    .video__item-subtitle {
        bottom: 24px;
        left: 24px;
    }
}