.comment__quote {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}

@media (max-width: 950px) {
    .comment__quote {
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        margin-top: 24px;
        margin-bottom: 48px;
        font-size: 1rem;
        line-height: 23px;
        text-align: left;
    }
}