.places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 984px;
    margin: auto;
    margin-top: 92px;
}

@media (max-width: 1080px) {
    .places {
        max-width: calc(100% - 96px);
    }
}

@media (max-width: 1024px) {
    .places {
        margin-top: 102px;
    }
}

@media (max-width: 816px) {
    .places {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 767px) {
    .places {
        margin-top: 64px;
    }
}

@media (max-width: 375px) {
    .places {
        margin: 0;
        max-width: 100%;
        padding-top: 16px;
    }
}
