@import url("./__content/place__content.css");
@import url("./__title/place__title.css");
@import url("./__website/place__website.css");
@import url("./__url-heading/place__url-heading.css");
@import url("./__url/place__url.css");
@import url("./__image/place__image.css");
@import url("./__paragraphs/place__paragraphs.css");
@import url("./__paragraphs/place__paragraph.css");

.places {
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .places {
        margin-top: 102px;
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .places {
        max-width: 720px;
    }
}