.place__url {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7;
    text-decoration-line: underline;
    color: #FFF;
}

.place__url:hover {
    text-decoration-line: none;
    opacity: .7;
}