.place__image {
    margin: 0px;
    padding-right: 0px;
    grid-row: 2;
    grid-column: 1;
    max-width: max-content;
}

@media (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media (max-width: 1023px) {
    .place__image {
        max-width: 340px;
    }
}

@media (max-width: 767px) {
    .place__image {
        grid-row: 2;
        grid-column: 1;
        margin-top: 8px;
        max-width: 375px;
    }
}

@media (max-width: 374px) {
    .place__image {
        max-width: 320px;
    }
}