.comment__author {
    margin: 0;
    margin-top: 24px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
}

@media (max-width: 1024px) {
    .comment__author {
        margin-top: 16px;
    }
}

@media (max-width: 350px) {
    .comment__author {
        margin-top: 17px;
    }
}