.video__item-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 10;
    grid-row: 1/11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    z-index: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0;
}

@media (max-width: 1280px) {
    .video__item-image {
        max-width: 583px;
    }
}

@media (max-width: 1222px) {
    .video__item-image {
        max-width: 456px;
        height: 288px;
    }
}

@media (max-width: 950px) {
    .video__item-image {
        width: 352px;
        height: 200px;
    }
}

@media (max-width: 727px) {
    .video__item-image {
        width: 343px;
    }
}

@media (max-width: 374px) {
    .video__item-image {
        width: 288px;
        height: 192px;
    }
}