.video__item-image {
    z-index: 0;
    width: 583px;
}

@media (max-width: 1280px) {
    .video__item-image {
        min-width: calc((100vh - 114px)/2);
        max-width: 583px;
    }
}

@media (max-width: 1024px) {
    .video__item-image {
        min-width: calc((100vh - 112px)/2);
        max-width: 456px;
    }
}

@media (max-width: 768px) {
    .video__item-image {
        min-width: calc((100vh - 64px)/2);
        max-width: 352px;
    }
}