.comments__container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*
@media (max-width: 768px) {
    .comments__container {
        flex-direction: column;
    }
}