.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: .9;
    color: #FFF;
    max-width: min-content;
    margin: 0px;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    max-height: max-content;
}
/*
@media (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}