.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFF;
    margin: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    z-index: 1;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 382px;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        max-width: 413px;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        max-width: 382px;
    }
}

@media (max-width: 767px) {
    .cover__subtitle {
        max-width: 343px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 374px) {
    .cover__subtitle {
        max-width: 288px;
    }
}