.video-item__title_location_down{
    margin-bottom: 18px;
}

@media (max-width: 980px) {
    .video-item__title_location_down {
        margin-bottom: 3px;
    }
}

@media (max-width: 374px) {
    .video-item__title_location_down {
        margin-bottom: 4px;
    }
}