@import url("./__title/video__title.css");
@import url("./__subtitle/video__subtitle.css");
@import url("./__container/video__container.css");
@import url("./__item/video__item.css");
@import url("./__item-link/video__item-link.css");
@import url("./__item-image/video__item-image.css");
@import url("./__item-play/video__item-play.css");
@import url("./__item-duration/video__item-duration.css");
@import url("./__item-title/video__item-title.css");
@import url("./__item-subtitle/video__item-subtitle.css");

.video {
    margin: auto;
    margin-top: 30px;
    max-width: 1184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (max-width: 1222px) {
    .video {
    max-width: 928px;
    }
}


@media (max-width: 950px) {
    .video {
    max-width: 720px;
    }
}

@media (max-width: 727px) {
    .video {
    max-width: 343px;
    margin-top: 64px;
    }
}

@media (max-width: 355px) {
    .video {
    max-width: 288px;
    }
}