.photo-grid__item {
  width:  284px;
}

.photo-grid__item:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.photo-grid__item:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.photo-grid__item:nth-child(3) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.photo-grid__item:nth-child(4) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.photo-grid__item:nth-child(5) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.photo-grid__item:nth-child(6) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.photo-grid__item:nth-child(7) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.photo-grid__item:nth-child(8) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.photo-grid__item:nth-child(9) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.photo-grid__item:nth-child(10) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.photo-grid__item:nth-child(11) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

.photo-grid__item:nth-child(12) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
}

@media (max-width: 1227px) {
  .photo-grid__item {
    width:  300px;
}

  .photo-grid__item:nth-child(4) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .photo-grid__item:nth-child(5) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .photo-grid__item:nth-child(6) {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .photo-grid__item:nth-child(7) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .photo-grid__item:nth-child(8) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .photo-grid__item:nth-child(9) {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .photo-grid__item:nth-child(10) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }

  .photo-grid__item:nth-child(11) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }

  .photo-grid__item:nth-child(12) {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

@media (max-width: 1023px) {
  .photo-grid__item {
    width:  352px;
}

  .photo-grid__item:nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .photo-grid__item:nth-child(4) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .photo-grid__item:nth-child(5) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .photo-grid__item:nth-child(6) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .photo-grid__item:nth-child(7) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }

  .photo-grid__item:nth-child(8) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }

  .photo-grid__item:nth-child(9) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }

  .photo-grid__item:nth-child(10) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 5;
  }

  .photo-grid__item:nth-child(11) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 6;
    grid-row: 6;
  }

  .photo-grid__item:nth-child(12) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 6;
    grid-row: 6;
  }
}

@media (max-width: 767px) {
  .photo-grid__item {
    width:  343px;
}

  .photo-grid__item:nth-child(2) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  }

  .photo-grid__item:nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .photo-grid__item:nth-child(4) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }

  .photo-grid__item:nth-child(5) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }

  .photo-grid__item:nth-child(6) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 6;
    grid-row: 6;
  }

  .photo-grid__item:nth-child(7) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 7;
    grid-row: 7;
  }

  .photo-grid__item:nth-child(8) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 8;
    grid-row: 8;
  }

  .photo-grid__item:nth-child(9) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 9;
    grid-row: 9;
  }

  .photo-grid__item:nth-child(10) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 10;
    grid-row: 10;
  }

  .photo-grid__item:nth-child(11) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 11;
    grid-row: 11;
  }

  .photo-grid__item:nth-child(12) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 12;
    grid-row: 12;
  }
}

@media (max-width: 374px) {
  .photo-grid__item {
    width:  288px;
}
}