@import url("./__logo/header__logo.css");
@import url("./__lang-menu/header__lang-menu.css");
@import url("./__lang/header__lang.css");
@import url("./__lang/_type/header__lang_type_active.css");
@import url("./__lang-link/header__lang-link.css");

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1184px;
    margin: auto;
    padding-top: 30px;
}

@media (max-width: 1280px) {
    .header {
        max-width: 92.5%;
    }
}

@media (max-width: 1024px) {
    .header {
        max-width: 90%;
    }
}

@media (max-width: 375px) {
    .header {
        max-width: 86%;
        height: 42px;
        padding-top: 30px;
    }
}