.video__item {
    border: 5px;
    margin-right: 18px;
    width: 583px;
    height: 323px;
    display: grid;
    grid-template-columns: 30px repeat(5, 1fr);
    grid-template-rows: 30px repeat(8, 1fr) 30px;
    background-color: #000;
}

.video__item:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
}

.video__item:hover .video__item-image {
    opacity:0.5;
}

@media (max-width: 1222px) {
    .video__item {
        grid-template-rows: repeat(8, 30px) 1fr;
        margin-right: 16px;
        width: 456px;
        height: 288px;
    }
}

@media (max-width: 950px) {
    .video__item {
        width: 352px;
        height: 200px;
        grid-template-columns: 24px repeat(5, 1fr);
        grid-template-rows: 24px repeat(6, 1fr) 24px;
    }
}

@media (max-width: 727px) {
    .video__item {
        width: 343px;
        margin-right: 0px;
        margin-bottom: 8px;
        grid-template-columns: 24px repeat(4, 1fr);
    }
}

@media (max-width: 374px) {
    .video__item {
        width: 288px;
    }
}