.intro__content-row {
    max-width: 100%;
    margin-top: 48px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;
    line-height: 1.7;
    color: #FFF;
}
/*
@media (max-width: 1280px) {
    .intro__content-row {
        max-width: 692px;
}
}

@media (max-width: 768px) {
    .intro__content-row {
        max-width: 720px;
}
}