.intro__content-row {
    max-width: 660px;
    margin-top: 48px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;
    line-height: 1.7;
    color: #FFF;
}

@media (max-width: 1024px) {
    .intro__content-row {
        max-width: 672px;
}
}

@media (max-width: 768px) {
    .intro__content-row {
        max-width: 720px;
}
}

@media (max-width: 375px) {
    .intro__content-row {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 1rem;
        line-height: 1.7;
}
}