.intro__content-row {
    max-width: 683px;
    margin-top: 48px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}