.lead__title {
    max-width: 782px;
    margin: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    line-height: .97;
    text-align: center;
    color: #fff;
}

@media (max-width: 1024px) {
    .lead__title {
        max-width: 928px;
    }
}

@media (max-width: 767px) {
    .lead__title {
        max-width: 440px;
        margin-top: 48px;
        font-size: 2.2rem;
        line-height: 1.1;
    }
}

@media (max-width: 375px) {
    .lead__title {
        max-width: 323px;
    }
}

@media (max-width: 320px) {
    .lead__title {
        max-width: 288px;
    }
}