.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #FFF;
    text-decoration: none;
}

.footer__link:hover {
    opacity: .7;
}

@media (max-width: 1023px) {
    .footer__link {
        font-size: 1rem;
        line-height: 1.7;
    }
}

@media (max-width: 630px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 1.7;
    }
}