.footer__links {
    padding-left: 0px;
    margin: 0px;
    max-width: max-content;
    margin-right: 0px;
    max-height: max-content;
}

@media (max-width: 768px) {
    .footer__links {
        padding-bottom: 0;
    }
}