.footer__copyright {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;
    line-height: 1.5;
    text-align: right;
    color: #FFF;
}

@media (max-width: 1023px) {
    .footer__copyright {
        margin: 0px;
    }
}

@media (max-width: 768px) {
    .footer__copyright {
        padding-top: 5px;
    }
}

@media (max-width: 630px) {
    .footer__copyright {
        padding-top: 48px;
    }
}