.footer__copyright {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFF;
}

@media (max-width: 1023px) {
    .footer__copyright {
        margin: 0px;
    }
}

@media (max-width: 767px) {
    .footer__copyright {
    padding-top: 16px;
    }
}