@import url("./__photo/comment__photo.css");
@import url("./__quote/comment__quote.css");
@import url("./__author/comment__author.css");
@import url("./__author/_line-height/comment__author_line-height_big.css");
@import url("./__author/_margin/comment__author_margin_big.css");

.comment {
    max-width: calc((100% - 38px)/3);
    margin-right: 0px;
    margin-left: 19px;
}

.comment:first-of-type {
    margin-left: 0px;
}

@media (max-width: 1024px) {
    .comment:last-of-type {
    margin-left: 18px;
    }
}

@media (max-width: 950px) {
    .comment {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 75%;
        margin: auto;
}
    .comment:last-of-type {
        margin: auto;
}
    .comment:first-of-type {
        margin: auto;
}
}

@media (max-width: 400px) {
    .comment {
        max-width: 343px;
}
}

@media (max-width: 350px) {
    .comment {
        max-width: 288px;
}
}