.comments__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    color: #FFF;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 72px;
    max-width: 54%;
}
/*
@media (max-width: 768px) {
    .comments__subtitle {
        margin-top: 24px;
        margin-bottom: 48px;
    }
}