.video__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    color: #FFF;
    margin: 0;
    max-width: 800px;
    text-align: center;
}

@media (max-width: 768px) {
    .video__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 720px;
    }
}