.video__title {
    max-width: 70%;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 78px;
    color: #FFF;
    text-align: center;
}

@media (max-width: 1222px) {
    .video__title {
    max-width: 100%;
    }
}

@media (max-width: 955px) {
    .video__title {
        max-width: 70%;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 727px) {
    .video__title {
        max-width: 343px;
        font-size: 2rem;
        line-height: 35px;
    }
}

@media (max-width: 355px) {
    .video__title {
        max-width: 288px;
    }
}