.video-item__image {
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0;
    opacity: .7;
}

.video-item:hover .video-item__image{
    opacity: 0.2;
}

@media (max-width: 1280px) {
    .video-item__image {
        max-width: 583px;
    }
}

@media (max-width: 1222px) {
    .video-item__image {
        max-width: 456px;
        height: 288px;
    }
}

@media (max-width: 980px) {
    .video-item__image {
        width: 352px;
        height: 200px;
    }
}

@media (max-width: 767px) {
    .video-item__image {
        width: 343px;
    }
}

@media (max-width: 374px) {
    .video-item__image {
        width: 288px;
        height: 192px;
    }
}