@import url("./__title/intro__title.css");
@import url("./__content-row/intro__content-row.css");
@import url("./__list/intro__list.css");
@import url("./__list-text/intro__list-text.css");

.intro {
    max-width: 950px;
    max-height: max-content;
    margin: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}