.comments__item {
    max-width: calc((100vh - 38px)/3);
    margin-right: 19px;
    margin-left: 0px;
}

@media (max-width: 768px) {
    .comments__item {
        max-width: 382px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: auto;
}
}

@media (max-width: 400px) {
    .comments__item {
        max-width: 343px;
}
}

@media (max-width: 350px) {
    .comments__item {
        max-width: 288px;
}
}