.intro__list-text {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    list-style: none;
    text-align: left;
    color: #FFF;
}

@media (max-width: 375px) {
    .intro__list-text {
        font-size: .75rem;
        line-height: 19px;
    }
}