.lead__subtitle {
    max-width: 583px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 78px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        margin-top: 46px;
        margin-bottom: 65px;
    }
}

@media (max-width: 768px) {
    .lead__subtitle {
        max-width: 720px;
        margin-bottom: 78px;
    }
}