@import url("./__image/cover__image.css");
@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");

.cover {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33%);
    max-width: 1184px;
    margin: auto;
    background-color: #2A2C2F;
}

@media (max-width: 1045px) {
    .cover {
        max-width: 100%;
    }
}

@media (max-width: 1044px) {
    .cover {
        float: right;
    }
}

@media (max-width: 1023px) {
    .cover {
        float: none;
        width: 100vw;
    }
}