.cover__image {
    max-width: 1184px;
    opacity: .3;
}

@media (max-width: 1024px) {
    .cover__image {
        max-width: 1045px;
        margin-left: -21px;
    }
}

@media (max-width: 768px) {
    .cover__image {
        max-width: 768px;
        margin-left: 0px;
        height: 500px;
    }
}