.cover__image {
    max-width: 1184px;
    opacity: .1;
    grid-column: 1/2;
    grid-row: 1/4;
}

.cover:hover .cover__image {
    opacity:0.3;
}

@media (max-width: 1024px) {
    .cover__image {
        max-width: 1045px;
        margin-left: -21px;
    }
}

@media (max-width: 768px) {
    .cover__image {
        max-width: 768px;
        margin-left: 0px;
        height: 500px;
    }
}