.cover__image {
    max-width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    opacity: 0.3;
    background-color: #2a2c2f;
}

.cover:hover .cover__image {
    opacity: 0.1;
}

@media (max-width: 1045px) {
    .cover__image {
        max-width: 100%;
    }
}

@media (max-width: 1023px) {
    .cover__image {
        max-width: 100vw;
    }
}