.place_margin-size_other-margin {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .place_margin-size_other-margin {
        margin-bottom: 3px;
    }
}

@media (max-width: 375px) {
    .place_margin-size_other-margin {
        margin-bottom: 0px;
    }
}