.video__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFF;
    margin: 48px, auto, 72px, auto;
    max-width: 640px;
}

@media (max-width: 1024px) {
    .video__subtitle {
        margin: 48px, auto, 73px, auto;
    }
}