.video__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    color: #FFF;
    margin: 48px, auto, 72px, auto;
    max-width: 54%;
}
/*
@media (max-width: 1024px) {
    .video__subtitle {
        margin: 48px, auto, 73px, auto;
    }
}

@media (max-width: 768px) {
    .video__subtitle {
        margin: 24px, auto, 56px, auto;
    }
}