.caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10.87px;
    margin-bottom: 0px;
}