@import url("./__image/video-item__image.css");
@import url("./__layer/video-item__layer.css");
@import url("./__duration/video-item__duration.css");
@import url("./__title/video-item__title.css");
@import url("./__title/_location/video-item__title_location_down.css");
@import url("./__subtitle/video-item__subtitle.css");

.video-item {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px 1fr 30px;
    width: 583px;
    height: 323px;
    border: 5px;
    background-color: #000;
}
/* для полноценного функционирования проекта в браузерах от Microsoft
необходимо раскомментировать элементы кода закомментированные ниже*/
/*
.video-item > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.video-item > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.video-item > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.video-item > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.video-item > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.video-item > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}*/

@media (max-width: 1222px) {
    .video-item {
        width: 456px;
        height: 288px;
    }
}

@media (max-width: 980px) {
    .video-item {
        -ms-grid-columns: 25px auto;
        grid-template-columns: 25px auto;
        -ms-grid-rows: 25px auto 25px;
        grid-template-rows: 25px auto 25px;
        width: 352px;
        height: 200px;
    }/*
    .video-item > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .video-item > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .video-item > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }*/
}

@media (max-width: 727px) {
    .video-item {
        -ms-grid-columns: 24px auto;
        grid-template-columns: 24px auto;
        -ms-grid-rows: 24px auto 24px;
        grid-template-rows: 24px auto 24px;
        width: 343px;
    }/*
    .video-item > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .video-item > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .video-item > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }*/
}

@media (max-width: 374px) {
    .video-item {
        -ms-grid-columns: 16px auto;
        grid-template-columns: 16px auto;
        -ms-grid-rows: 16px auto 16px;
        grid-template-rows: 16px auto 16px;
        width: 288px;
        height: 192px;
    }/*
    .video-item > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .video-item > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .video-item > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .video-item > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }*/
}