.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
    top: 274px;
    left: 120px;
    margin: 0;
    position: absolute;
}

@media (max-width: 1024px) {
    .cover__title {
        top: 211px;
        max-width: 544px;
        left: 240px;
    }
}