.cover__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    z-index: 1;
    width: 1094px;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
}

@media (max-width: 1200px) {
    .cover__title {
        max-width: 965px;
    }
}

@media (max-width: 1000px) {
    .cover__title {
        max-width: 550px;
    }
}

@media (max-width: 768px) {
    .cover__title {
        max-width: 720px;
    }
}

@media (max-width: 740px) {
    .cover__title {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .cover__title {
        max-width: 100%;
        font-size: 2rem;
        line-height: 35px;
    }
}

@media (max-width: 374px) {
    .cover__title {
        max-width: 288px;
    }
}