.comment__photo {
    margin-bottom: 42px;
    margin-right: 75%;
    border-radius: 97px;
}

@media (max-width: 1024px) {
    .comment__photo {
        margin-bottom: 40px;
    }
}

@media (max-width: 950px) {
    .comment__photo {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin: auto;
    }
}