.video__item-title {
    font-style: normal;
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 1.1;
    color: #FFF;
    max-width: 55.5%;
    margin: 0px;
    grid-row: -5/-3;
    grid-column: 2/-2;
    z-index: 1;
    align-self: end;
}
/*
@media (max-width: 1024px) {
    .video__item-title {
        grid-row: -5/-2;
        align-self: center;
    }
} 

@media (max-width: 768px) {
    .video__item-title {
        font-size: 24px;
        line-height: 26px;
    }
}