.video__item-title {
    /* position: absolute;
    bottom: 61px;
    left: 30px; */
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFF;
    max-width: 322px;
    margin: 0px;
    grid-row: -5/-3;
    grid-column: 2/-2;
    z-index: 1;
    align-self: end;
}

@media (max-width: 1024px) {
    .video__item-title {
        bottom: 66px;
    }
}

@media (max-width: 768px) {
    .video__item-title {
        bottom: 52px;
        left: 24px;
        font-size: 24px;
        line-height: 26px;
    }
}