.comments__author {
    font-style: normal;
    font-weight: 900;
    font-size: .9rem;
    line-height: 1.5;
    margin-top: 24px;
    color: #FFF;
}

@media (max-width: 950px) {
    .comments__author {
        margin: 16px auto 24px auto;
    }
}