@import url("./__content/footer__content.css");
@import url("./__list/footer__list.css");
@import url("./__list-item/footer__list-item.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");

.footer {
    max-width: 1184px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    margin: auto;
    margin-top: 160px;
    padding-bottom: 48px;
}

@media (max-width: 1200px) {
    .footer {
        max-width: calc(100% - 95px);
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 722px;
        margin-top: 102px;
        padding-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        max-width: 282px;
        margin-top: 64px;
        margin-left: 16px;
    }
}

@media (max-width: 320px) {
    .footer {
        max-width: 183px;
    }
}