@import url("./__links/footer__links.css");
@import url("./__list-item/footer__list-item.css");
@import url("./__links/footer__link.css");
@import url("./__copyright/footer__copyright.css");

.footer {
    margin: auto;
    margin-top: 160px;
    padding-bottom: 48px;
    max-width: 1184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
}

@media (max-width: 1200px) {
    .footer {
        max-width: calc(100% - 95px);
    }
}

@media (max-width: 1044px) {
    .footer {
        margin-top: 786.25px;
    }
}

@media (max-width: 1023px) {
    .footer {
        margin-top: 160px;
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 722px;
        margin-top: 102px;
        padding-bottom: 24px;
    }
}

@media (max-width: 630px) {
    .footer {
        max-width: 282px;
        margin-top: 64px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: 16px;
        padding-bottom: 0px;
    }
}

@media (max-width: 320px) {
    .footer {
        max-width: 183px;
    }
}