.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

@media (max-width: 767px) {
    .footer__content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }
}