.place__url {
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 1.7;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFF;
}

.place__url:hover {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    opacity: .7;
}