.place__url {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFF;
}

.place__url:hover {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    opacity: .7;
}