.video__container {
    margin: auto;
    max-width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (max-width: 727px) {
    .video__container {
        flex-direction: column;
        justify-content: flex-start;
    }
}