.footer__list-item {
    display: inline;
    margin-right: 18px;
    list-style: none;
}

.footer__list-item:last-of-type {
    margin-right: 0px;
}


@media (max-width: 630px) {
    .footer__list-item {
        margin-right: 150px;
        margin-bottom: 32px;
    }
}